.content {
  min-height: calc(100vh - 405px);
}

.docs-content h1,
.docs-content h2,
.docs-content h3,
.docs-content h4 {
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.01em;
}

.docs-content h1 {
  letter-spacing: -0.02em;
}

.docs-content hr {
  margin: 3rem 0;
}

.docs-content code {
  font-size: 0.9rem;
}
.docs-content code.highlight {
  white-space: pre;
}
